<div class="flex h-full">
  <ul class="menu bg-secondary rounded-box text-white w-56 h-full">
    <li>
      <a class="py-4" [routerLink]="['/home']">
        <fa-icon [icon]="faHome" class="fa-xl"></fa-icon>
        Home
      </a>
    </li>
    <li>
      <a class="py-4" [routerLink]="['/products']">
        <fa-icon [icon]="faBoxesStacked" class="fa-xl"></fa-icon>
        Productos
      </a>
    </li>
    <li>
      <a class="py-4">
        <fa-icon [icon]="faChartPie" class="fa-xl"></fa-icon>
        Reportes
      </a>
    </li>
  </ul>
</div>