<div class="flex h-full">
<fnd-menu></fnd-menu>
    <div class="grid grid-cols-12 w-full auto-rows-max gap-8 py-4 px-8">
    
        <div class="grid col-span-12 ">

            <h1>Producto</h1>
           
        </div>
        <div class="grid col-span-12 ">
            <div class="overflow-x-auto">
                <table class="table table-xs">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Nombre</th>
                      <th>GUID</th>
                      <th>Fecha Creación</th>
                      <th>Fecha Actualización</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cerveza</td>
                        <td>Bebida Alcohólica</td>
                        <td>$3.50</td>
                        <td>120</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Empanada</td>
                        <td>Comida Rápida</td>
                        <td>$1.50</td>
                        <td>50</td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Refresco</td>
                        <td>Bebida Sin Alcohol</td>
                        <td>$1.00</td>
                        <td>80</td>
                        
                    </tr>
                  </tbody>
                  
                </table>
              </div>
        </div>
    </div>
</div>